:root {
    --jet: #333232;
    --rusty-red: #d62246;
    --cherry-blossom-pink: #ffa8ba;    
    --rose-quartz: #a09cb0;
    --cream: #f0f0c9;
    --white: #fff;
    --gray: #ffffff9f;
}

.custom-txt {
    color: var(--white);
}

.custom-title {
    font-size: 1.2rem; 
    color: var(--jet);
    font-weight: 700;
    text-decoration: none;
    transition: all 0.7s ease-in-out;
}

.custom-card-background:hover .custom-title {
    color: var(--rusty-red);
    transition: color 0.7s ease-in-out;

}

.custom-title:hover {
    color: var(--rose-quartz) !important
}

.custom-card-background {
    background-color: var(--cherry-blossom-pink);
    border-radius: 10px;
}

.custom-card {
    background-color:var(--white);
    border-radius: 10px;
    box-shadow: 3px 6px 27px 0px #00000042;
    transition: box-shadow 0.7s ease-in-out
}

.custom-card-background:hover .custom-card{
    box-shadow: 3px 6px 27px 0px #00000091;
}

.custom-link{
    color: var(--cherry-blossom-pink);
    transition: color 0.7s ease-in-out
}

.custom-card-background:hover .custom-link {
    color: var(--rusty-red)
}

.custom-link:hover {
    color: var(--rose-quartz) !important
}

.tech-used {
    margin: 0.2rem 0;
    padding: 0.3rem 0;
    border-top: solid 1px var(--rose-quartz);
    font-weight: 600;
    transition: all 0.7s ease-in-out;
}

.custom-card-background:hover .tech-used {
    color: var(--rusty-red);
}

.custom-badge {
    display: inline-block;
    color: var(--white);
    background-color: var(--rose-quartz);
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
    border-radius: 6px;
    font-size: .75em; 
    transition: all 0.7s ease-in-out;
}

.custom-card-background:hover .custom-badge {
    background-color: var(--cherry-blossom-pink);
    color: black;
}