:root {
    --jet: #333232;
    --rusty-red: #d62246;
    --cherry-blossom-pink: #ffa8ba;    
    --rose-quartz: #a09cb0;
    --cream: #f0f0c9;
    --white: #fff;
    --gray: #ffffff9f;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.custom-background {
    background-color: var(--jet);
    min-height: 100%;
    display: flex;
    flex-direction: column; 
}

.page-container {
    flex: 1; 
}